.login-block{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.control-block{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.enter-btn{
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 8px;
  background-color: #d5d5d5;
}

.strength-sections {
  display: flex;
  margin-top: 10px;
  width: 20%;
}

.section {
  flex: 1;
  height: 8px;
  margin-right: 5px;
  background-color: gray;
  border-radius: 5px;
}

.section:last-child {
  margin-right: 0;
}

.section.red {
  background: #ff0000;
}

.section.yellow {
  background: #fc0;
}

.section.green {
  background: #00FF47CC;
}
